@import "../../assets/scss/variables";

.prova{
    color: red
}

.altro{
    font-weight: bold;
}

.box{
    border: 1px solid gray;

    button{
        background-color: $colorPink;
    }
}

button{
    background-color: cyan;
    border: none;
}