<div>
    <button (click)="gestioneClick($event)">CLiccami</button>
</div>
<p *ngIf="mostraRosso">{{titolo}}</p>

<!-- nell'esempio sotto $event.target === inputProva -->
<input #inputProva
(input)="inputEvent(inputProva)" 
[value]="titolo">
<input [(ngModel)]="titolo">
<!-- negli esempi sopra, ho in entrambi i casi dei binding bidirezionali -->

<p [class.prova]="mostraRosso"
    [class.altro]="!mostraRosso"
>{{inputProva.value}}</p>

<p [ngClass]="oggettoClassi"
>{{inputProva.value}}</p>



<form>
    <input>
    <select>
        <option></option>
    </select>

    <button type="submit"></button>
</form>