@import "../../assets/scss/mixin";

.active{
    font-weight: bold;
}

.grid {
    @include display-grid((1fr 1fr 1fr 1fr 1fr 1fr 1fr), 0, 2px);   

    p{
        border: 1px solid gray;
    }
}

$indexes: 1,2,3,4,5,6,7;
@each $index in $indexes {
    .grid#{$index}{
        @include grid-column(#{$index}, 1);
    }
  }