<div class="grid">
    <p routerLink="/primo" routerLinkActive="active" class="grid1">Primo</p>
    <p routerLink="/primo-diverso" routerLinkActive="active" class="grid2">Primo Diverso</p>
    <p routerLink="/secondo" routerLinkActive="active" class="grid3">Secondo</p>
    <p routerLink="/ciclo-vita" routerLinkActive="active" class="grid4">Ciclo</p>
    <p routerLink="/template-form" routerLinkActive="active" class="grid5">Template form</p>
    <p routerLink="/reactive-form" routerLinkActive="active" class="grid6">Reactive form</p>
    <p routerLink="/sadsadsadsad" routerLinkActive="active" class="grid7">Path sbagliato</p>
</div>