<form [formGroup]="heroForm" (ngSubmit)="createHero()">
    {{heroForm.value | json}}
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name">
    </div>
    <div *ngIf="nameControl.status === 'INVALID' && nameControl.dirty">
        <span>Il Nome è obbligatorio</span>
    </div>
    <div>
        <label for="power">Hero Power</label>
        <select id="power" formControlName="power">
            <option value=""></option>
            <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
    </div>
    <div *ngIf="heroForm.get('power').status === 'INVALID' && heroForm.get('power').dirty">
        <span>Il Potere è obbligatorio</span>
    </div>
    <div formGroupName="address">
        <div>
            <label for="street">Strada</label>
            <input type="text" id="street" formControlName="street">
        </div>
        <div>
            <label for="city">Città</label>
            <input type="text" id="city" formControlName="city">
        </div>
        <div>
            <label for="zip">Cap</label>
            <input type="text" id="zip" formControlName="zip" maxlength="5">
        </div>
        <div>
            <label for="state">Nazione</label>
            <input type="text" id="state" formControlName="state">
        </div>
    </div>
    <button type="submit" [disabled]="heroForm.status === 'INVALID'">Submit</button>
    <button type="button">Reset</button>
</form>
<ul>
    <li *ngFor="let hero of heroList">
        <span>{{hero.name}}</span><span>, con potere: </span><span>{{hero.power}}</span>
    </li>
</ul>