<form [formGroup]="heroForm" (ngSubmit)="createHero()">
    {{heroForm.value | json}}
    <app-input [label]="'Name'" [controlName]="'name'" [parentFormGroup]="heroForm"></app-input>
    <div *ngIf="nameControl.status === 'INVALID' && nameControl.dirty">
        <span>Il Nome è obbligatorio</span>
    </div>
    <div>
        <label for="power">Hero Power</label>
        <select id="power" formControlName="power">
            <option value=""></option>
            <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
    </div>
    <app-rating formControlName="rating"></app-rating>
    <div *ngIf="heroForm.get('power').status === 'INVALID' && heroForm.get('power').dirty">
        <span>Il Potere è obbligatorio</span>
    </div>
    <div formGroupName="address">
        <app-input [label]="'Strada'" [controlName]="'street'" [parentFormGroup]="heroForm.get('address')"></app-input>
        <app-input [label]="'Città'" [controlName]="'city'" [parentFormGroup]="heroForm.get('address')"></app-input>
        <app-input [label]="'Cap'" [controlName]="'zip'" [parentFormGroup]="heroForm.get('address')"></app-input>
        <app-input [label]="'Nazione'" [controlName]="'state'" [parentFormGroup]="heroForm.get('address')"></app-input>
    </div>
    <button type="submit" [disabled]="heroForm.status === 'INVALID'">Submit</button>
    <button type="button" (click)="clearForm()">Reset</button>
</form>
<ul>
    <li *ngFor="let hero of heroList">
        <span>{{hero.name}}</span><span>, con potere: </span><span>{{hero.power}}</span>
    </li>
</ul>