<!-- qui preferisco interpolazione -->
<p>{{title}}</p>
<p [innerHtml]="title"></p>

<!-- in questo caso non posso usare l'interpolazione -->
<div>{{html}}</div>
<div [innerHtml]="html"></div>
<div [ngSwitch]='componentToShow'>
    <!-- in questi casi meglio la property binding -->
    <app-primo [inputIngresso]="title" [name]="'Luca'" *ngSwitchCase="1"></app-primo>
    <app-secondo (eventoClick)="title=$event" *ngSwitchCase="2"></app-secondo>
    <app-ciclo-vita [primitiva]="primitivaInput" [profilo]="profiloInput" [profilo1]="profilo1Input" *ngSwitchCase="3"></app-ciclo-vita>
    <div *ngSwitchDefault>
        <app-primo [inputIngresso]="title" [name]="'Mario'"></app-primo>
        <app-secondo (eventoClick)="title=$event"></app-secondo>
    </div>
</div>

<button (click)="modificaValori()">modifica valori in input</button>
<button (click)="checkViewChild()">Prova View child e scambia componente</button>