<form [formGroup]="gameForm" (ngSubmit)="aggiungiGioco()">
    <input formControlName="name" placeholder="Nome">
    <input formControlName="author" placeholder="Autore">
    <button type="submit">Aggiungi</button>
</form>

<div class="loader" *ngIf="showLoader"></div> 

<div *ngFor="let game of gameList | async">
    <p>{{game.name}}</p>
    <button (click)="getDettaglio(game.id)">Dettaglio</button>
    <button (click)="eliminaGioco(game.id)">Elimina</button>
</div>


<ng-container *ngIf="gameDetail != null">
    <form [formGroup]="gameEditForm" (ngSubmit)="modificaGioco()">
        <input formControlName="name" placeholder="Nome">
        <input formControlName="author" placeholder="Autore">
        <button type="submit">Modifica</button>
    </form>
</ng-container>